

<form action="/article/new" method="post" value="_blank" id="form">
  <label for="description">description</label>
  <input type="text" name="description" value="" required>
  <br />
  <label for="title ">title</label>
  <input type="text" name="title" value="" required>
  <br />
  <label for=" url ">url</label>
  <input type="text" name="url" value="" required>
  <br />
  <input type="submit">
</form>
