<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sinatra Template</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body> -->


<form action="/article/new/random" method="get">
  <input type="button" value="Random Button" id="random_button">
</form>

<!-- <script src="/javascripts/app.js"></script>
</body>
</html> -->
